/* -------------------- Add font family------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@font-face {
    font-family: 'ps-gameday';
    src: url(/font/ps-gameday-regular.otf);
}

/* --------------------- CSS Reset ------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/*--------------------------------- Add CSS Variable -------------------- */

:root {
    --animate-duration: 1s;
    --primary-clr: #335F70;
    --font-clr: white;
    --font-family: 'ps-gameday', sans serif;
    --font-s1: 8rem;
    --font-s2: 1.5rem;
    --font-family-disbox: 'Ultra', serif;
    --button-clr: #FF474A;


}

.finishdropdown {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block: 1.5rem;

}

body {
    min-height: 100vh;
    line-height: 1.1;
    min-width: fit-content;
    font-family: var(--font-family);
    color: var(--font-clr);
    background-color: var(--primary-clr);
    overflow-y: hidden;
    overflow-x: hidden;

    /* #1 to make the footer sticky to the bottom */

    display: flex;
    flex-direction: column;

}

/* ________________ loading Screen_____________ */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* ___________ for the confetti ________________ */
#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    visibility: hidden;
}



/*----------------------------- header styling --------------------*/

.header__icon {
    position: absolute;
    margin: .4rem;
    width: 20px;

}

/*-------------------------- wave img for desktop----------------------  */

.header__img,
.footer__img {
    width: 100%;
}

/*--------------------- wave images for mobile devices ------------------- */

.header__img2,
.footer__img2 {
    display: none;
}

/*------------------------styling main content ------------------------- */

.maincontent {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    letter-spacing: 6px;
        width: 98%;

}

.maincontent__heading {
    font-size: var(--font-s1);
}

.maincontent__uppertext {
    font-size: var(--font-s2);
    margin-left: .9rem;
}

/*----------------------------- styling textbox ----------------------------- */

.maincontent__userid,
.maincontent__submitbtn {
    display: block;
    margin-inline: auto;
    outline: none;

}

.maincontent__userid {
    padding: 1em 6em;
    border-radius: 100px;
    background-color: var(--primary-clr);
    border: 3px solid white;
    margin-block: 2rem;
    color: var(--font-clr);
    font-family: var(--font-family);
    font-size: 1.2rem;
    text-align: center;

}

/*-------------------------------- styling placeholder ---------------------------*/

input::placeholder {
    color: var(--font-clr);
    font-family: var(--font-family);
    font-size: 1.2rem;
}

/*---------------------------------- footer section style ------------------------ */

footer {
    /* #2 to make the footer sticky to the bottom */
    margin-top: auto;
}

.footer__img,
.footer__img2 {

    margin-bottom: -9px;
    margin-top: auto;
}

/*--------------------------------- Add media query --------------------------------  */

@media only screen and (min-width:600px) and (max-width:910px) {

    .maincontent__heading {
        font-size: 5rem;
    }

    .maincontent__uppertext {
        font-size: var(--font-s2);
        margin-left: .8rem;
    }

    .maincontent__userid {
        padding: 1em 5em;

    }

    .maincontent {
        margin-top: 10rem;

    }

    .maincontent__submitbtn {
        width: 50px;
        margin-top: 2rem;

    }

}

@media only screen and (min-width:400px) and (max-width: 600px) {

    .header__icon {
        position: absolute;
        margin: .625rem;
        width: 30px;

    }

    .maincontent__heading {
        font-size: 3rem;
    }


    .maincontent__userid {
        padding: .5em 2em;
        margin-block: 1.6rem;
        font-size: 1rem;
    }

    .maincontent__uppertext {
        font-size: 1rem;
        margin-left: .2rem;
    }

    .maincontent {
        margin-top: 7rem;
    }

    input::placeholder {
        color: var(--font-clr);
        font-family: var(--font-family);
        font-size: 1rem;
    }

    #maincontent__submitbtn {
        width: 40px;
        margin-top: 2rem;

    }

    .header__img,
    .footer__img {
        display: none;
    }

    .header__img2 {
        display: block;
        width: 100%;
    }

    .footer__img2 {
        display: block;
        width: 100%;
    }

    .maincontent__submitbtn {
        width: 40px;
        margin-top: 2rem;

    }
}

@media only screen and (max-width:400px) {
    .header__icon {
        position: absolute;
        margin: .5rem;
        width: 25px;

    }

    .maincontent__heading {
        font-size: 2rem;
    }


    .maincontent__userid {
        padding: .2em 1em;
        margin-block: 1.6rem;
        font-size: 1rem;
    }

    .maincontent__uppertext {
        font-size: .75rem;
        margin-left: .2rem;
    }

    .maincontent {
        margin-top: rem;
    }

    input::placeholder {
        color: var(--font-clr);
        font-family: var(--font-family);
        font-size: .8rem;
    }

    .maincontent__submitbtn {
        width: 40px;
        margin-top: 2rem;

    }

    .header__img,
    .footer__img {
        display: none;
    }

    .header__img2 {
        display: block;
        width: 100%;
    }

    .footer__img2 {
        display: block;
        width: 100%;
    }
}


/* _________________________ Main Page Styling ___________________ */


/* --------------------------- Styling Main Page Header ----------------- */

.headermainpage {
    margin-block-start: 1.5rem;
    /* padding-left: 6rem; */
    display: flex;
    width: 103%;
    justify-content: space-evenly;

}

.headermainpage__logo2 {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 5px;
}

.headermainpage__logo {
    font-size: 4rem;
    text-align: center;
    margin-left: 8rem;
    letter-spacing: 5px;
}

.headermainpage__wrapper {
    display: flex;
    margin-top: 1.3rem;

}

.headermainpage__restartbtn {
    margin-block-end: 1.5rem;
    margin-inline: 1rem;
    width: 2rem;

}

.headermainpage__menubar-icon {
    display: none;
}

/* ----------------------- Styling DropDownMenu -----------------------------------  */

.headermainpage__menutext {
    margin-top: .4rem;
    font-size: 1.563rem;
}

.-margin {
    margin-top: 2rem;
}

.headermainpage__dropmenu {
    margin-inline: 1rem;
    padding: .2em 1em;
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--primary-clr);
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    font-size: 1.25rem;
    outline: none;
}

/* _________________________header section styled________________________*/

/* ______________________________Styling MainPage Content_______________________ */

.mainpage {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;

}

/* ------------------------- styling display box ------------------- */

/* .mainpage__textwrapper {
    margin-right: 2rem;
} */


.mainpage__displaybox {
    font-family: var(--font-family-disbox);
    color: var(--primary-clr);
    display: block;
    margin-inline: auto;
    background-color: white;
    padding: 36px 15px;
    border-radius: 15px;
    font-size: 6rem;
    text-align: center;
    max-width: 286px;
    max-height: 191px;
    width: 440px;
}

/* ---------------- styling text,input and button ---------------------*/

.mainpage__text {
    text-align: center;
    /* display: block; */
    margin-block: 1.5rem;
    letter-spacing: 3px;
    margin-left: 1.435rem;
}

.mainpage__input,
.mainpage__button {
    display: block;
    margin-inline: auto;

}

.mainpage__input {
    padding: 0.5em;
    padding-top: 45px;
    width: 440px;
    height: 81px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 4rem;
    outline: none;
    text-align: center;
    color: white;
    font-family: var(--font-family);
    margin-bottom: 1.9rem;
    margin-left: .5rem;
    background-color: var(--primary-clr);

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mainpage__button {
    padding: 1em 3.5em;
    font-family: var(--font-family);
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: .1s ease;
    letter-spacing: 2px;
    background-color: var(--button-clr);


}

.finishsection {
    display: flex;
    justify-content: center;
    width: 100%;

}

.finishsection__restartbtn {
    width: 140px;

}

.finishsection__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.7rem;
    margin-right: 50px;
    margin-top: 8px;
}



.active:hover {
    opacity: .7;
    transition: opacity .2s ease;
    cursor: pointer;

}


.--display {
    display: none;


}
.drop3{
    display: none;
}

/* ------------------------- styled MainPage Content ------------------- */

/* _______________________________ Media query ______________________________ */

@media only screen and (min-width:675px) and (max-width:927px) {

    .headermainpage {
        margin-block-start: 1.5rem;
        display: flex;
        justify-content: space-evenly;

    }

    .mainpage__textwrapper {
        margin-right: 2rem;
    }

    .headermainpage__logo {

        font-size: 4rem;
        text-align: center;
        margin-left: 0rem;
        letter-spacing: 0px;
    }

    /* .headermainpage__wrapper {
        display: flex;
        margin-top: .75rem;
    } */

    .headermainpage__restartbtn {
        margin-left: 1.5rem;
    }

    .headermainpage__dropmenu {
        margin-inline: 1rem;
            padding: 0.2em 1em;
            text-align: center;
            font-family: var(--font-family);
            background-color: var(--primary-clr);
            border: 2px solid white;
            border-radius: 7px;
            color: white;
            font-size: 1.25rem;
            outline: none;
    }

    .headermainpage__menutext {
        margin-top: .4rem;
        font-size: 1rem;
    }


}

@media only screen and (min-width: 502px)and (max-width: 675px) {

    .headermainpage__wrapper,
    .headermainpage__restartbtn {
        display: none;

    }
    .drop3{
        display: block;
    }



    .headermainpage {
        margin-block-start: 1.5rem;
        display: block;
        justify-content: center;
        gap: 0;

    }


    .headermainpage__logo {
        font-size: 4rem;
        text-align: center;
        margin-left: 0rem;
    }

    .mainpage__input {
        padding-top: 1.688rem;
        width: 21.563rem;
        height: 0;
        background-color: var(--primary-clr);
        border: 3px solid white;
        border-radius: 10px;
        font-size: 3rem;
        outline: none;
        text-align: center;
        color: white;
        font-family: var(--font-family);
        margin-bottom: 1.9rem;
        margin-inline: auto;
    }



    .mainpage__button {
        padding: .75em 2em;
        font-family: var(--font-family);
        color: white;
        background-color: var(--button-clr);
        font-size: 1.1rem;
        border-radius: 10px;
        letter-spacing: 2px;
        margin-bottom: 10px;


    }

    .mainpage__displaybox {
        font-family: var(--font-family-disbox);
        color: var(--primary-clr);
        display: block;
        margin-inline: auto;
        background-color: white;
        padding: 43px 15px;
        border-radius: 15px;
        font-size: 6rem;
        text-align: center;
        max-width: 266px;
        max-height: 185px;
        width: 440px;
    }

    .headermainpage__menubar-icon {
        display: block;
        margin-inline: 1.5rem;
        margin-bottom: 1rem;
    }

    .headermainpage__menubar {
        display: block;
        margin-right: 0rem;

    }


}

@media only screen and (max-width:502px) {
    .mainpage {
        margin-top: 1rem;
    }
   .drop3 {
       display: block;
   }

    .finishsection__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.5rem;
        margin-right: 20px;
        margin-top: 8px;
    }

    .finishsection__restartbtn {
        width: 126px;
    }

    #info__img {
        position: absolute;
        right: 0;
        bottom: 25%;
        width: 50px;
        /* z-index: -1; */
        cursor: pointer;
    }

    .headermainpage__wrapper,
    .headermainpage__restartbtn {
        display: none;

    }

    .headermainpage {
        margin-block-start: 1.5rem;
        display: block;
        text-align: center;


    }

    .mainpage__textwrapper {
        margin-right: 0rem;
    }

    .headermainpage__logo {
        font-size: 4rem;
        text-align: center;
        margin-left: 0rem;
        margin-top: .625rem;
        letter-spacing: 0px;
    }

    .mainpage__input {
        padding-top: 1.688rem;
        width: 18.563rem;
        height: 0;
        background-color: var(--primary-clr);
        border: 3px solid white;
        border-radius: 10px;
        font-size: 3rem;
        outline: none;
        text-align: center;
        color: white;
        font-family: var(--font-family);
        margin-bottom: 1.9rem;
        margin-inline: auto;
    }


.mainpage__text{
    font-size: 1.25rem;
}
    .mainpage__button {
        padding: .75em 2em;
        font-family: var(--font-family);
        color: white;
        background-color: var(--button-clr);
        font-size: 1.1rem;
        border-radius: 10px;
        letter-spacing: 2px;
        margin-bottom: 10px;


    }

    .mainpage__displaybox {
        font-family: var(--font-family-disbox);
        color: var(--primary-clr);
        display: block;
        margin-inline: auto;
        background-color: white;
        padding: 36px 30px;
        border-radius: 15px;
        font-size: 6rem;
        text-align: center;
        max-width: 257px;
        max-height: 180px;
    }

    .headermainpage__menubar-icon {
        display: block;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .headermainpage__menubar {
        display: block;
        margin-right: 0rem;

    }
}


/* ____________________________ select lvl ____________________________ */

.headerselect h1 {
    font-size: 4rem;
    margin-block: 1.5rem;
    text-align: center;
}

.headerselect__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top:12rem; */

}

.headerselect__form-div {

    display: flex;
    height: 35vh;
    justify-content: center;
    align-items: center;
    margin-inline: 4rem;
    gap: 200px;

    flex-wrap: wrap;
}

.headerselect__formwrapper {
    position: relative;
    height: 7rem;
    width: 7rem;
    right: 3rem;


}


.headerselect__formwrapper input {
    position: absolute;
    height: 188%;
    width: 180%;
    margin: 5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;


}

.headerselect__formwrapper .headerselect__formtile {
    display: flex;
    height: 188%;
    width: 188%;
    border: 2px solid white;
    border-radius: 5px;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;


}

label {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.headerselect__submitbtn {
    display: block;
    margin-inline: auto;
    margin-top: 6rem;
    width: 60px;
}

input:checked+.headerselect__formtile {
    background-color: #234F60;
    box-shadow: 0 0 12px #423f3f;


}

input:hover+.headerselect__formtile {
    background-color: #234F60;


}


@media screen and (max-width:1100px) {
    .headerselect__form-div {

        display: flex;
        height: 35vh;
        justify-content: center;
        align-items: center;
        margin-inline: 4rem;
        gap: 150px;

        flex-wrap: wrap;
    }

    .headerselect__formwrapper {
        position: relative;
        height: 7rem;
        width: 7rem;
        right: 3rem;


    }

    .headerselect__formwrapper input {
        position: absolute;
        height: 188%;
        width: 180%;
        margin: 5px;
        cursor: pointer;
        z-index: 2;
        opacity: 0;


    }

    .headerselect__formwrapper .headerselect__formtile {
        display: flex;
        height: 188%;
        width: 188%;
        border: 2px solid white;
        border-radius: 5px;
        transition: all 300ms ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

    }
}

@media screen and (max-width:769px) {
    .headerselect__formwrapper {
        position: relative;
        height: 3rem;
        width: 10rem;
        right: 4rem;


    }

    .headerselect__form-div {

        display: flex;
        height: 35vh;
        justify-content: center;
        align-items: center;
        margin-inline: 11rem;
        gap: 100px;
        flex-wrap: wrap;
    }

    .headerselect__submitbtn {
        display: block;
        margin-inline: auto;
        margin-top: 13rem;
        width: 60px;
    }

    .headerselect__submitbtn {
        display: block;
        margin-inline: auto;
        margin-top: 10rem;
        width: 60px;
    }

}


@media screen and (max-width:560px) {
    .headerselect__formwrapper {
        position: relative;
        height: 2rem;
        width: 10rem;
        right: 4rem;



    }

    .headerselect h1 {
        font-size: 4rem;
        margin-block: 0rem;
        margin: 2rem 0 2rem 0;
        text-align: center;
    }

    .headerselect__form-div {

        display: flex;
        height: 35vh;
        justify-content: center;
        align-items: center;
        margin-inline: 6rem;
        gap: 50px;
        flex-wrap: wrap;
    }

    .headerselect__submitbtn {
        display: block;
        margin-inline: auto;
        margin-top: 4rem;
        width: 60px;
    }

}

@media screen and (max-width:400px) {

    .headerselect__formwrapper {
        position: relative;
        height: 2rem;
        width: 9rem;
        right: 4rem;



    }

    .headerselect h1 {
        font-size: 3rem;
        margin-block: 0rem;
        margin: 3rem 0 4rem 0;
        text-align: center;
    }

    .headerselect__form-div {

        display: flex;
        height: 35vh;
        justify-content: center;
        align-items: center;
        margin-inline: 5rem;
        gap: 50px;
        flex-wrap: wrap;
    }

    .headerselect__submitbtn {
        display: block;
        margin-inline: auto;
        margin-top: 5rem;
        width: 60px;
    }
}



@media screen and (max-width:432px) {
    #info__img {
        position: absolute;
        right: 0;
        bottom: 15%;
        width: 35px;
        /* z-index: -1; */
        cursor: pointer;
    }
}

@media screen and (min-height:1024px) {
    .mainpage {
        display: flex;
        justify-content: center;
        margin-top: 11rem;
        width: 100%;
    }
}

/* --------------- POPUP ----------------------- */




.popup {

    z-index: 999999;
    position: fixed;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    font-family: 'Roboto', sans-serif;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;


}

.popup__descri {
    margin-right: 20px;
}

.popup__wrapper {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.popup__wrapper::-webkit-scrollbar {
    width: 10px;
}

.popup__wrapper::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    background-color: #ccc;
    border-radius: 10px;
}

.popup__wrapper::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.level {
    margin-top: 32px;
}

.popup__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primary-clr);
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    max-width: 604px;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.6s ease;


}

.popup.--active .popup__box {
    opacity: 1;
}

.popup__box h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 900;
}

.popup__box p {
    margin-bottom: 1rem;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: justify;
    word-break: keep-all;
    text-transform: uppercase;

}

.unit {
    width: 27rem;
}


table,
th,
td {
    border: 2px solid var(--primary-clr);
    padding: 15px;
    text-align: center;
    border-collapse: collapse;
    /* margin-inline: auto; */

}

.popup__box button {
    margin-inline: auto;
    display: block;
    margin-top: 1.5rem;
    padding: 1em 2.4em;
    border-radius: 10px;
    background-color: var(--button-clr);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.--active {
    visibility: visible;
}

.info img {
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 60px;
    /* z-index: -1; */
    cursor: pointer;

}