/* -------------------- Add font family------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

@font-face {
    font-family: 'ps-gameday';
    src: url(/font/ps-gameday-regular.otf);
}

/* --------------------- CSS Reset ------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/*--------------------------------- Add CSS Variable -------------------- */

:root {
    --primary-clr: #335F70;
    --font-clr: white;
    --font-family: 'ps-gameday', sans serif;
    --font-s1: 8rem;
    --font-s2: 1.5rem;
    --font-family-disbox: 'Ultra', serif;
    --button-clr: #FF474A;


}

body {
    min-height: 100vh;
    line-height: 1.1;
    min-width: fit-content;
    font-family: var(--font-family);
    color: var(--font-clr);
    background-color: var(--primary-clr);
    overflow-y: hidden;

    /* #1 to make the footer sticky to the bottom */

    display: flex;
    flex-direction: column;

}
/* ________________ loading Screen_____________ */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
/* ___________ for the confetti ________________ */
#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    visibility: hidden;
}

/*----------------------------- header styling --------------------*/

.header__icon {
    position: absolute;
    margin: .4rem;
    width: 20px;

}

/*-------------------------- wave img for desktop----------------------  */

.header__img,
.footer__img {
    width: 100%;
}

/*--------------------- wave images for mobile devices ------------------- */

.header__img2,
.footer__img2 {
    display: none;
}

/*------------------------styling main content ------------------------- */

.maincontent {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;

}

.maincontent__heading {
    font-size: var(--font-s1);
}

.maincontent__uppertext {
    font-size: var(--font-s2);
    margin-left: .9rem;
}

/*----------------------------- styling textbox ----------------------------- */

.maincontent__userid,
.maincontent__submitbtn {
    display: block;
    margin-inline: auto;
    outline: none;

}

.maincontent__userid {
    padding: 1em 6em;
    border-radius: 100px;
    background-color: var(--primary-clr);
    border: 3px solid white;
    margin-block: 2rem;
    color: var(--font-clr);
    font-family: var(--font-family);
    font-size: 1.2rem;
    text-align: center;

}

/*-------------------------------- styling placeholder ---------------------------*/

input::placeholder {
    color: var(--font-clr);
    font-family: var(--font-family);
    font-size: 1.2rem;
}

/*---------------------------------- footer section style ------------------------ */

footer {
    /* #2 to make the footer sticky to the bottom */
    margin-top: auto;

}

.footer__img,
.footer__img2 {
    margin-top: auto;
}

/*--------------------------------- Add media query --------------------------------  */

@media only screen and (min-width:600px) and (max-width:910px) {

    .maincontent__heading {
        font-size: 5rem;
    }

    .maincontent__uppertext {
        font-size: var(--font-s2);
        margin-left: .8rem;
    }

    .maincontent__userid {
        padding: 1em 5em;

    }

    .maincontent {
        margin-top: 3rem;

    }

    .maincontent__submitbtn {
        width: 50px;
        margin-top: 2rem;

    }

}

@media only screen and (min-width:400px) and (max-width: 600px) {

    .header__icon {
        position: absolute;
        margin: .625rem;
        width: 30px;

    }

    .maincontent__heading {
        font-size: 3rem;
    }


    .maincontent__userid {
        padding: .5em 2em;
        margin-block: 1.6rem;
        font-size: 1rem;
    }

    .maincontent__uppertext {
        font-size: 1rem;
        margin-left: .2rem;
    }

    .maincontent {
        margin-top: 3rem;
    }

    input::placeholder {
        color: var(--font-clr);
        font-family: var(--font-family);
        font-size: 1rem;
    }

    #maincontent__submitbtn {
        width: 40px;
        margin-top: 2rem;

    }

    .header__img,
    .footer__img {
        display: none;
    }

    .header__img2 {
        display: block;
        width: 100%;
    }

    .footer__img2 {
        display: block;
        width: 100%;
    }

    .maincontent__submitbtn {
        width: 40px;
        margin-top: 2rem;

    }
}

@media only screen and (max-width:400px) {
    .header__icon {
        position: absolute;
        margin: .5rem;
        width: 25px;

    }

    .maincontent__heading {
        font-size: 2rem;
    }


    .maincontent__userid {
        padding: .2em 1em;
        margin-block: 1.6rem;
        font-size: 1rem;
    }

    .maincontent__uppertext {
        font-size: .75rem;
        margin-left: .2rem;
    }

    .maincontent {
        margin-top: 6rem;
    }

    input::placeholder {
        color: var(--font-clr);
        font-family: var(--font-family);
        font-size: .8rem;
    }

    .maincontent__submitbtn {
        width: 40px;
        margin-top: 2rem;

    }

    .header__img,
    .footer__img {
        display: none;
    }

    .header__img2 {
        display: block;
        width: 100%;
    }

    .footer__img2 {
        display: block;
        width: 100%;
    }
}


/* _________________________ Main Page Styling ___________________ */


/* --------------------------- Styling Main Page Header ----------------- */

.headermainpage {
    margin-block-start: 1.5rem;
    display: flex;
    justify-content: space-around;

}

.headermainpage__logo {
    font-size: 4rem;
    text-align: center;
    margin-left: 12rem;
}

.headermainpage__wrapper {
    display: flex;
    margin-top: 1.3rem;
}

.headermainpage__restartbtn {
    margin-block-end: 1.5rem;
    width: 2rem;
}

.headermainpage__menubar-icon {
    display: none;
}

/* ----------------------- Styling DropDownMenu -----------------------------------  */

.headermainpage__menutext {
    margin-top: .4rem;
    font-size: 1.563rem;
}

.headermainpage__dropmenu {
    margin-inline: 1rem;
    padding: .2em 1em;
    text-align: center;
    font-family: var(--font-family);
    background-color: var(--primary-clr);
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    font-size: 1.25rem;
    outline: none;
}

/* _________________________header section styled________________________*/

/* ______________________________Styling MainPage Content_______________________ */

.mainpage {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

/* ------------------------- styling display box ------------------- */

.mainpage__textwrapper{
    margin-right:2rem;
}


.mainpage__displaybox {
    font-family: var(--font-family-disbox);
        color: var(--primary-clr);
        display: block;
        margin-inline: auto;
        background-color: white;
        padding: 36px 15px;
        border-radius: 15px;
        font-size: 6rem;
        text-align: center;
        max-width: 286px;
        max-height: 191px;
}

/* ---------------- styling text,input and button ---------------------*/

.mainpage__text {
    text-align: center;
    margin-block: 1.5rem;
    letter-spacing: 3px;
    margin-left: 1.6rem;
}

.mainpage__input,
.mainpage__button {
    display: block;
    margin-inline: auto;

}

.mainpage__input {
    padding: 0.5em;
    padding-top: 45px;
    width: 440px;
    height: 81px;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 4rem;
    outline: none;
    text-align: center;
    color: white;
    font-family: var(--font-family);
    margin-bottom: 1.9rem;
    background-color: var(--primary-clr);
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mainpage__button {
    padding: 1em 3.5em;
    font-family: var(--font-family);
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    transition: 300ms ease;
    letter-spacing: 2px;
    background-color: var(--button-clr);
    
    
}

.--active:hover {
    opacity: .6;
    cursor: pointer;
    
}


.--display {
    display: none;
}

/* ------------------------- styled MainPage Content ------------------- */

/* _______________________________ Media query ______________________________ */

@media only screen and (min-width:675px) and (max-width:910px) {

    .headermainpage {
        margin-block-start: 1.5rem;
        display: flex;
        justify-content: space-evenly;

    }
        .mainpage__textwrapper {
            margin-right: 2rem;
        }

    .headermainpage__logo {
        font-size: 3rem;
        text-align: center;
        margin-left: 4rem;
    }

    .headermainpage__wrapper {
        display: flex;
        margin-top: .75rem;
    }

    .headermainpage__restartbtn {
        margin-left: 1.5rem;
    }

    .headermainpage__dropmenu {
        margin-inline: 0rem;
        margin-left: .625rem;
        padding: 0.2em 0em;
        text-align: center;
        font-family: var(--font-family);
        background-color: var(--primary-clr);
        border: 2px solid white;
        border-radius: 7px;
        color: white;
        font-size: 1rem;
        outline: none;
    }

    .headermainpage__menutext {
        margin-top: .4rem;
        font-size: 1rem;
    }


}

@media only screen and (min-width: 502px)and (max-width: 675px) {

    .headermainpage__wrapper,
    .headermainpage__restartbtn {
        display: none;

    }
      

    .headermainpage {
        margin-block-start: 1.5rem;
        display: flex;
        justify-content: center;
        gap: px;

    }

    .headermainpage__logo {
        font-size: 3rem;
        text-align: center;
        margin-left: 0rem;
    }

    .mainpage__input {
        padding-top: 1.688rem;
        width: 21.563rem;
        height: 0;
        background-color: var(--primary-clr);
        border: 3px solid white;
        border-radius: 10px;
        font-size: 3rem;
        outline: none;
        text-align: center;
        color: white;
        font-family: var(--font-family);
        margin-bottom: 1.9rem;
    }



    .mainpage__button {
        padding: .75em 2em;
        font-family: var(--font-family);
        color: white;
        background-color: var(--button-clr);
        font-size: 1.1rem;
        border-radius: 10px;
        letter-spacing: 2px;
        margin-bottom: 10px;


    }

    .mainpage__displaybox {
        font-family: var(--font-family-disbox);
        color: var(--primary-clr);
        display: block;
        margin-inline: auto;
        background-color: white;
        padding: 43px 15px;
        border-radius: 15px;
        font-size: 6rem;
        text-align: center;
        max-width: 266px;
        max-height: 185px;
    }

    .headermainpage__menubar-icon {
        display: block;
        margin-inline: 1.5rem;
        margin-bottom: 1rem;
    }

    .headermainpage__menubar {
        display: flex;
        margin-right: 4rem;

    }


}

@media only screen and (max-width:502px) {
    .mainpage {
        margin-top: 4rem;
    }

    .headermainpage__wrapper,
    .headermainpage__restartbtn {
        display: none;

    }

    .headermainpage {
        margin-block-start: 1.5rem;
        display: flex;
        justify-content: center;


    }
.mainpage__textwrapper {
    margin-right: 0rem;
}
    .headermainpage__logo {
        font-size: 2rem;
        text-align: center;
        margin-left: 0rem;
        margin-top: .625rem;
    }

    .mainpage__input {
        padding-top: 1.688rem;
        width: 18.563rem;
        height: 0;
        background-color: var(--primary-clr);
        border: 3px solid white;
        border-radius: 10px;
        font-size: 3rem;
        outline: none;
        text-align: center;
        color: white;
        font-family: var(--font-family);
        margin-bottom: 1.9rem;
    }



    .mainpage__button {
        padding: .75em 2em;
        font-family: var(--font-family);
        color: white;
        background-color: var(--button-clr);
        font-size: 1.1rem;
        border-radius: 10px;
        letter-spacing: 2px;
        margin-bottom: 10px;


    }

    .mainpage__displaybox {
        font-family: var(--font-family-disbox);
        color: var(--primary-clr);
        display: block;
        margin-inline: auto;
        background-color: white;
        padding: 36px 30px;
        border-radius: 15px;
        font-size: 6rem;
        text-align: center;
        max-width: 257px;
        max-height: 180px;
    }

    .headermainpage__menubar-icon {
        display: block;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .headermainpage__menubar {
        display: flex;
        margin-right: 2rem;

    }
}