
/* Add font family */

@font-face {
    font-family: 'ps-gameday';
    src: url(/font/ps-gameday-regular.otf);
}

/* CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Add CSS Variable */

:root {
    --primary-clr: #335F70;
    --font-clr: white;
    --font-family: 'ps-gameday', 'Roboto', sans serif;
    --font-s1: 8rem;
    --font-s2: 1.5rem;


}
body {
    min-height: 100vh;
    line-height: 1.1;
    min-width: fit-content;
    font-family: var(--font-family);
    color: var(--font-clr);
    background-color: var(--primary-clr);
    overflow-y: hidden;

    /* #1 to make the footer sticky to the bottom */

    display: flex;
    flex-direction: column;

}
